*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-image: url("resources/imgs/old_paper.png");
  font-family: Copperplate, Papyrus, fantasy;
  font-size: 20px;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 35px;
  text-align: center;
  margin: 0;
  padding: 12px 0;
  max-height: 10vh;
}

.grid-container {
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-column-gap: 24px;
  height: calc(100vh - 10vh);
}

.class_filter > div,
.race_filter > div,
.skill_filter > div,
.country_filter > div {
  height: 35vh;
  width: auto;
  overflow-y: auto;
  padding: 6px;
  outline: none;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(0, 0, 0);
}

.originality {
  height: 20vh;
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.class_filter,
.race_filter,
.country_filter,
.skill_filter {
  max-width: 100%;
  overflow: hidden;
  height: 100%;
  width: auto;
}

.grid_charts,
.grid_filters {
  max-width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid_charts {
  border: 1px solid rgb(0, 0, 0);
}

.vis {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.vis1 {
  border-right: 1px solid rgb(0, 0, 0);
  border-bottom: 1px solid rgb(0, 0, 0);
}

.vis2 {
  border-bottom: 1px solid rgb(0, 0, 0);
}

.vis_filter {
  position: absolute;
  top: 6px;
  left: 6px;
}

.vis3 {
  display: grid;
  grid-column: 1/-1;
}

.vis3_filter_rel {
  position: absolute;
  right: 6px;
  top: 6px;
}

.vis3_filter_centre {
  position: absolute;
  left: 6px;
  bottom: 6px;
}

#orgnBar {
  width: 2%;
  height: 20px;
  background-color: #4caf50;
}

legend {
  display: block;
  font-size: 18px;
  font-weight: 700;
}

label {
  display: block;
  font-size: 12px;
}

.tooltip {
  position: absolute !important;
  z-index: 100;
}
