*,*::before,*::after{
    box-sizing: border-box;
}

body{
    background-image: url('resources/imgs/old_paper.png');
    font-family: Copperplate, Papyrus, fantasy;
    font-size: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: 2fr 3fr;
}

.player_filter{
    grid-column: 1/-1;
}

.class_filter >div,
.race_filter >div{
    height: 300px;
    width: auto;
    overflow-y: auto;
    padding: 20px;
    outline: none;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(0, 0, 0);

}

.class_filter label,
.race_filter label{
    display: block;
}

.grid_charts,
.grid_filters{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.vis3{
    display: grid;
    grid-template-columns: 2fr 1fr;
    border: 1px solid rgb(0, 0, 0);
    width: 950px;
    height: 400px;
}

.vis3_filter_rel,
.vis3_filter_centre{
    display: block;
    margin-bottom: 70px;
    border: 1px solid rgb(0, 0, 0);
}

.country_filter {
    grid-column: 1/-1;
}

.vis1{
    border: 1px solid rgb(0, 0, 0);
}
.vis2{
    border: 1px solid rgb(0, 0, 0);
}