*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-image: url("resources/imgs/old_paper.png");
  font-family: Copperplate, Papyrus, fantasy;
  font-size: 20px;
  max-height: 100vh;
  max-width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 0 20px;
}

h1 {
  font-size: 35px;
  text-align: center;
  margin: 0;
  padding: 12px 0;
  max-height: 10vh;
}

.grid-container {
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-column-gap: 24px;
  height: calc(100vh - 10vh);
}

.grid_charts,
.grid_filters {
  max-width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid_charts {
  border: 1px solid rgb(0, 0, 0);
}

.class_filter,
.race_filter,
.country_filter,
.skill_filter {
  max-width: 100%;
  overflow: hidden;
  height: 100%;
  width: auto;
}

.class_filter > div,
.race_filter > div,
.skill_filter > div,
.country_filter > div {
  height: 35vh;
  width: auto;
  overflow-y: auto;
  padding: 6px;
  outline: none;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(0, 0, 0);
}

.originality {
  height: 20vh;
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#orgnBar {
    width: 2%;
    height: 20px;
    background-color: #e41a1c;
    text-align: center;
    vertical-align: middle;
}
.orgnBarBg {
    background-color: grey;
}

.vis {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.vis1 {
  border-right: 1px solid rgb(0, 0, 0);
  border-bottom: 1px solid rgb(0, 0, 0);
  height: 45vh;
}

.vis2 {
  border-bottom: 1px solid rgb(0, 0, 0);
  height: 45vh;
}

.vis3 {
  display: grid;
  grid-column: 1/-1;
  height: 45vh;
}

.vis3_filter_rel {
  position: absolute;
  right: 6px;
  top: 6px;
}

.vis3_filter_centre {
  position: absolute;
  left: 6px;
  bottom: 6px;
}

.vis_filter {
    position: absolute;
    top: 6px;
    left: 6px;
}

legend {
  display: block;
  font-size: 18px;
  font-weight: 700;
}

label {
  display: block;
  font-size: 18px;
}

.tooltip,
.tooltipRadar {
  position: absolute !important;
  z-index: 100;
}

::-webkit-scrollbar {
    width: 10px;
}

  /* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #e41a1c; 
    border-radius: 10px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #5d0f02; 
}
